@charset "utf-8";

/* body */
body {
  background: #f2f2f2;
}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

/* site */
.site .panel-body {
  height: 70px;
}
.site .panel-heading {
  height: 250px;
}
.site .panel-heading img {
  height: 100%;
  max-width: 100%;
}
p.site-title {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* site#show# */
.btn-like {
  margin-top: 20px;
}