<% if @sites %>
  <div class="row">
    <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to Vote-mass</h1>
      <h2>Here's the websites your friends created.<br>Click each link to vote!</h2>
    </div>
    </div>
    <% @sites.each do |site| %>
      <div class="site">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <img src="<%= site.site_image %>" alt="" >
            </div>
            <div class="panel-body">
              <p class="site-title"><%= link_to site.site_name, site %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>